.ic-view-select .bx--list-box__label {
  color: unset !important;
}

.catalog .bx--tabs__nav-item a:hover,
.catalog .bx--tabs__nav-item--selected a,
.catalog .bx--tabs__nav-item--selected bx--tabs__nav-item a.bx--tabs__nav-link {
  color: var(--color-tab-text-selected) !important;
}

.ic-view-select .bx--list-box__label {
  color: var(--color-tab-text-selected) !important;
}
