/* Community catalog */
/* Recently visited is hard coded in /opt/IBM/WebSphere/AppServer/profiles/AppSrv01/installedApps/ConnectionsCell/Common.ear/connections.info.war/ui/dist/js/chunk__web-catalog-components__catalog-app__react.b19aa7bfb259f201a2b9.chunk.css
   To customize the color, you have to remove the !important from .ic-view-select .bx--list-box__label definition, or the complete color set
 */
.bx--list-box__menu-icon > svg {
  fill: var(--color-button) !important;
}

.ic-view-select .bx--list-box__label, .ic-view-select .bx--list-box__field {
  color: var(--color-button) !important;
}

.bx--cardv2.community-card .shared-icon svg {
  fill: var(--color-button) !important;
}

.customizebuttonCNX8 {
  color: var(--color-button-text) !important;
  background-color: var(--color-button) !important;
}

.catalog .bx--tabs__nav-item a:hover,
.catalog .bx--tabs__nav-item--selected a,
.catalog .bx--tabs__nav-item--selected bx--tabs__nav-item a.bx--tabs__nav-link {
  color: var(--color-tab-text-selected) !important;
}

.ic-view-select .bx--list-box__label {
  color: var(--color-tab-text-selected) !important;
}

/* Highlights AS widget buttons */
.btn-primary {
  color: var(--color-button-text) !important;
  background-color: var(--color-button) !important;
  border-color: var(--color-button) !important;
}

/* Tag filter search box community catalg */
.tag-finder .searchIcon {
  background-color: var(--color-button) !important;
}

.tag-finder .tagBox {
  border: 2px solid var(--color-button) !important;
}

/* Hover fix for Community create button */
body .icCatalogCommunityCreate.bx--dropdown:hover {
    background-color: var(--color-button-hover) !important;
}
