.lotusui30 a, .lotusui30 a:visited {
  color: var(--color-tab-text-selected) !important;
}
/* removed in CR10
.lotusui30 .lotusBtn {
  color: var(--color-tab-text-selected) !important;
}
*/
/* fix create community links */
li.bx--dropdown-item a.bx--dropdown-link {
  color: var(--color-button-text) !important;
}

/* Teams share right top */
[dir="ltr"] .extension-menu-item-img {
  width: unset !important;
  height: 28px !important;
}

/* set button color in video controls */
.vjs-default-skin .vjs-control {
  color: var(--color-button) !important;
}

.vjs-default-skin:hover .vjs-control:hover {
  color: var(--color-button-hover) !important;
}

/* Change background for warning banner */
div#top-navigation-banner div#cnx-admin-banner-wrapper div.adminBanner.adminBannerwarning div {
  background-color: #3BCC36 !important;
}
/* Change font color for warning banner */
div#top-navigation-banner div#cnx-admin-banner-wrapper div.adminBanner.adminBannerwarning div div p {
  color: orange !important;
}
/* Change background for info banner */
div#top-navigation-banner div#cnx-admin-banner-wrapper div.adminBanner.adminBannerinfo div {
  background-color: blue !important;
}
/* Change font color for info banner */
div#top-navigation-banner div#cnx-admin-banner-wrapper div.adminBanner.adminBannerinfo div div p {
  color: white !important;
}
.xccstyle .xccWidget .wbody #showRichContent a {
  unset !important;
}

/* Fix rte widget vs app padding */
.xccRte {
  padding: 1.5rem;
}

.qkrWikiPreview.bidiAware {
  padding: 0 !important;
}

/* Footer Text color */
.lotusui30 .lotusFooter ul li a {
  color: var(--color-footer-text) !important;
}
